<style>
    body {
        background-color: #F7F3E9; /* Color pastel suave */
        font-family: 'Roboto', sans-serif; /* Cambia aquí para usar la nueva fuente */
    }

    .btn-success {
        background-color: #42a096;
    }

    .btn-primary {
        background-color: Purple;
    }

    .header-image img {
        border-radius: 15px;
    }

    .nav {
        margin-top: 20px; /* Reducido a 20px */
    }
    
    .pastel-nav ul {
        background-color: #F5E3DC; /* Color pastel para la navegación */
        padding: 10px; /* Reducido a 10px */
        border-radius: 8px; /* Reducido a 8px */
    }
    
    .nav-link {
        text-decoration: none;
        font-weight: bold;
        color: #6B5B95; /* Color pastel para los enlaces */
        padding: 5px 10px; /* Reducido a 5px 10px */
        font-size: 0.9rem; /* Reducido a 0.9rem */
        transition: background-color 0.3s, color 0.3s;
    }
    
    .nav-link:hover {
        background-color: #FFB7B2; /* Cambio a color pastel suave al pasar el mouse */
        color: white;
        border-radius: 4px; /* Reducido a 4px */
    }

    .bienvenida {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh; /* Ajustado para dar más espacio */
        font-size: 2rem; /* Tamaño de fuente reducido a 2rem */
        font-weight: bold;
        color: #6B5B95; /* Color pastel para el texto */
        text-align: center;
        background-color: #E0BBE4; /* Fondo pastel */
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
    }

    .Segunda_Imagen {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
